<%-include("header")-%>

    <div class="things">
      <div><h1><%=text%></h1></div>
      <% if (format==1) { %>
        <td><iframe width="560"  height="315" src="https://www.youtube.com/embed/<%=photo.slice(32,photo.length)%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
          <%} else { %>
          <td><img src="<%=photo%>" alt="" ></td>
          <% } %>      <form action="/question/post/<%=code%>" method="post">
        <input type="text" name="answer">
        <button type="submit" >submit</button>
    </form>
    </div>
<%-include("footer")-%>