<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>THUNT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
body {
    background-image: url('https://images.pexels.com/photos/399772/pexels-photo-399772.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
    color: azure;
}
@media (min-width: 1024px) {
    body {
      background-image: url("https://images.unsplash.com/photo-1523804427826-322aa3cfaa42?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bXlzdGVyeXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
    background-size: cover;
    color: azure;
   }
}

.things{
  background-color: rgba(0, 0, 0, .45);
}
footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	background-color: #000;
}
li{
  list-style-type: none;
}
.mother{
  align-items: center;
    display: flex;
    justify-content: center;
}
.treasure{
  align-items: center;
    display: flex;
    justify-content: center;
}
.nav-item{
  margin-left: 10px;
}
    </style>
</head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#2B2E4A;">
      <a class="navbar-brand" href="/">THUNT</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/add">Add</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add/view">view</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/logout">logout</a>
          </li>
        </ul>
      </div>

      <a href="/register/<%=name%>">Hello <%=name%></a>
    </nav>
<div class="things">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Current Points</th>
            <th scope="col">No of attempts</th>
            <th scope="col">time</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <%things.forEach(function(thing,index){ %>
            <tbody>
                <tr>
                  <th scope="row"><%=index+1%></th>
                  <td><%=thing.name%></td>
                  <td><%=thing.email%></td>
                  <td><%=thing.score%></td> 
                  <td><%=thing.attempts%></td>
                  <td><%=thing.time%></td>
                  <% if (thing.score==length) { %>
                    <td>Completed💎</td>
                      <%} else{ %>  
                        <td>Playing</td> 
                        <%} %>    
                <td><form action="/delete/people" method="post" ><button type="submit" name="delete" value="<%=thing.id%>" class="btn btn-danger" style="margin-left:18%;">DELETE</button>
                  </form></td>
                </tr>
            </tbody>
          <%})%>
      </table>
</div>



<%-include("footer")-%>
