<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>THUNT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        body{
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url('https://cdn.hipwallpaper.com/i/82/90/w9lzc1.jpg');

 color: azure;

}

.things{
  color: #fff;
  text-align: center;
  height:600px;
  width:800px;
  border: 1px solid #000;
}
footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #000;
}
li{
  list-style-type: none;
}
.mother{
  align-items: center;
    display: flex;
    justify-content: center;
}
.treasure{
  align-items: center;
    display: flex;
    justify-content: center;
}

    </style>
</head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">THUNT</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/add">Add</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add/view">view</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/view-people">view people</a>
          </li>
        </ul>
      </div>

      <a href="/play/<%=gameid%>">Hello <%=name%></a>
    </nav>
<table class="table">
    <thead>
      <tr>
        <th scope="col"><a href="/">number</a></th> 
        <th scope="col"><a href="/34ec78fcc91ffb1e54cd85e4a0924332">question</a></th>
        <th scope="col"><a href="/treasure">answer</a></th>
        <th scope="col"><a href="">format</a></th>
        <th scope="col"><a href="">photo</a></th>
      </tr>
    </thead>
  <%things.forEach(function(thing,index){ %>
    <tbody>
        <tr>
          <th scope="row"><%=index+1%></th>
          <td><%=thing.text%></td>
          <td><%=thing.answer%></td>  
          <% if (thing.format==1) { %>
            <td>Youtube video Link</td>
            <%} else { %>
              <td>Photo</td>
              <% } %> 
          <% if (thing.format==1) { %>
            <td><iframe width="560" style ="height:100px;width:100px" height="315" src="https://www.youtube.com/embed/<%=thing.photo.slice(32,thing.photo.length)%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
              <%} else if(thing.format==0) { %>
              <td><img src="<%=thing.photo%>" alt="" style ="height:100px;width:100px"></td>
              <% }else{ %>
                <td><a href="<%=thing.photo%>">Q</a></td>
                <% }%>

          <td><form action="/delete" method="post" ><button type="submit" name="delete" value="<%=thing.id%>" class="btn btn-danger" style="margin-left:45%;">DELETE</button>
          </form></td>
        </tr>
    </tbody>
  <%})%>
    
  </table>




<%-include("footer")-%>